*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    height: 1508px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 70px;
    background-color: black;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    gap: 817px;
    padding: 15px;
}
.logo{
    width: 40px;
    height: 40px;
}
.ul{
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}
.section{
    width: 100%;
    height: 1368px;
}
.text{
    width: 743px;
    height: 186px;
    font-size: 88px;
    text-align: center;
    margin: 114px 348px 114px 349px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    column-gap: 30px;
}
.fi{
    width: 393px;
    height: 396px;
    text-align: center;
}

h2{
    margin: 30px 90.5px 10px 90.5px;
}

p{
    opacity: 60%;
}
